.header {
  background-color: #0ebd8c;
  color: white;
  width: 100%;
  position: fixed;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 90%;
  margin: auto;
}